@use "./variables";
@use "./header";
@use "./mixin";

section {
  height: 100vh;
  width: 100%;
  background-color: $backgroundOne;

  .contact {
    @extend header;
  }
}

.click-button {
  @include betterLook();
}
